We usually choose our next movie to watch based on the ratings which other users have given.
And Horror movies never get picked up because it has lower ratings.

I wanted to investigate this and find out that if on average horror movies are rated low by the users, and if so I will not follow the traditional ratings while selecting a horror movie.

Hypothesis: In general, Horror movies are rated low

H0: There is no difference in ratings of Horror movies compared to other movies  
Ha: Horror movies are rated lower than other genres

In [1]:
import pandas as pd

#### Importing data

In [2]:
filename = 'C:\\Users\\Alok\\Desktop\\assignment\\ml-latest-small\\ml-latest-small\\movies.csv'
movies = pd.read_csv(filename)

filename_1 = 'C:\\Users\\Alok\\Desktop\\assignment\\ml-latest-small\\ml-latest-small\\ratings.csv'
ratings = pd.read_csv(filename_1)

#### Checking top 10 rows

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

#### Joining Movies and Ratings table to get genres of movies in rating table

In [5]:
joined = pd.merge(ratings, movies, how = 'left', on = 'movieId')

In [6]:
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

#### Creating a column to identify horror movies for tagging

In [7]:
joined['horror']= [1 if 'Horror' in x else 0 for x in joined['genres']]

#### Dividing the data based on their genres

In [8]:
data1 = joined[joined['horror'] == 1].rating
data2 = joined[joined['horror'] == 0].rating

In [9]:
print('The mean rating for Horror movies = {0:.2f}'.format(data1.mean()))
print('The mean rating for non-Horror movies = {0:.2f}'.format(data2.mean()))

The mean rating for Horror movies = 3.26
The mean rating for non-Horror movies = 3.52

We can see that the mean rating for Horror movies is lower when compared to the other movies. 
But we need to make sure that this difference is not by chance, and is statistically significant. To check that we use ANOVA.

Using ANOVA to check if the mean rating of Horror movies statistically differ from other movies

In [10]:
from scipy.stats import f_oneway
stat, p_value = f_oneway(data2, data1)

In [11]:
p_value

2.464551170637717e-95

This low p value suggests that the difference in means is not by chance and is statistically different

Using this we can reject our Null hypothesis that "There is no difference in ratings of Horror movies compared to other movies"
and say that "Horror movies are rated lower than other genres". So ratings of horror movies should not be compared with ratings of other movies.